# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# Distribution / Builds
build/
dist/
*.egg-info/

# Logs
*.log

# Jarvis
brain/
screenshots/
.keys
